@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 68px);
  }

  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg]
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-space-grotesk);
}

h1 {
  @apply font-medium text-[43px] md:text-6xl;
}

h2 {
  @apply font-medium text-4xl md:text-[40px];
}

h3 {
  @apply font-medium text-[26px] md:text-3xl;
}

h4 {
  @apply font-medium text-[18px] md:text-[20px];
}

p {
  @apply font-normal text-[16px] md:text-[18px];
}


